[alias]
  etat = status
  pousser = push
  tirer = pull
  commettre = commit
  ranger = stash
  ajouter = add
  enlever = rm
  cloner = clone
  fusionner = merge
  distant = remote
  branche = branch
  difference = diff
  journal = log
  cerise = cherry-pick
  configuration = config
  nettoyer = clean
  recuperer = fetch
  etiquetter = tag
  afficher = show
  deplacer = mv